@charset "utf-8";

a {
    text-decoration: none;
}

.btn-all-link {
    width: 50%;
    padding: 20px;
    background-color: #389bc2;
    color: #ffffff;
    text-align: center;

    &:hover {
        background-color: #fdb657;
    }
}

#upper-under-chara {
    margin-top: 40px;
}