@charset "utf-8";

@import "./normalize.scss";

footer {
    width: 100%;
    background-color: #6d6d6d;

    @include mq(sm) {
        padding-bottom: 20px;
    }
}

.footer-area {
    display: flex;
    max-width: 1200px;
    @include x-margin-center;

    @include mq(sm) {
        display: inline;
    }
}

.googlemap-like-box {
    width: 40%;
    border: 0;
    padding: 20px;

    @include mq(sm) {
        width: 100%;
    }
}

.address-area {
    width: 60%;

    h1 {
        color: #ffffff;
        font-size: 32px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;

        @include mq(sm) {
            font-size: 24px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 30px;
        }

        @include mq(md) {
            margin-top: 20px;
        }
    }

    p {
        color: #ffffff;
        line-height: 0.8em;
    }

    @include mq(sm) {
        width: 100%;
        text-align: center;
    }

    @include mq(md) {
        margin-left: 40px;
    }
}