@charset "UTF-8";

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.flex-2 {
        align-items: stretch;

        .col {
            width: 48%;
        }
    }

    &.flex-3 {
        align-items: stretch;

        .col {
            width: 31%;
        }
    }
}