@charset "UTF-8";

@import "./normalize.scss";

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.flex-2 {
        align-items: stretch;

        .col {
            width: 48%;

            @include mq(md) {
                width: 100%;
            }
        }
    }

    &.flex-3 {
        align-items: stretch;

        .col {
            width: 31%;

            @include mq(md) {
                width: 100%;
            }
        }
    }

    &.flex-tabs {
        flex-wrap: nowrap;

        ul {
            width: 20%;

            @include mq(rg) {
                width: 30%;
            }

            @include mq(md) {
                width: 100%;
            }
        }

        .tabs {
            width: 77%;

            @include mq(rg) {
                width: 67%;
            }

            @include mq(md) {
                width: 100%;
            }
        }

        .flex-3 .col {
            @include mq(rg) {
                width: 48%
            }

            @include mq(md) {
                width: 100%;
            }
        }

        @include mq(md) {
            flex-wrap: wrap;
        }
    }
}

ul {
    &.tab-list {
        list-style: none;
        margin: 0 0 1em 0;
        padding: 0;

        li {
            a {
                background: rgba(255, 255, 255, 0.075);
                border-radius: 4px;
                margin-bottom: 0.5em;
                padding: 0.5em 1em;
                display: inline-block;
                width: 100%;

                &.active {
                    background: #ff00ff;
                }

                &:hover {
                    background: #880088;
                }
            }
        }
    }
}

.tab {
    display: none;

    &.active {
        display: flex;
    }
}