@charset "UTF-8";

@use "./normalize.scss";

#footer {
    padding: 2em 0 4em 0;

    > .inner {
        margin: 0 auto;
        width: 80em;

        @include normalize.mq(lg) {
            width: 65em;
        }

        @include normalize.mq(rg) {
            width: 90%;
        }
    }

    h3 {
        @include normalize.mq(rg) {
            display: block;
            height: 3em;
        }

        @include normalize.mq(md) {
            display: inline-block;
            height: auto;
        }
    }

    ul {
        li {
            @include normalize.mq(md) {
                font-size: 0.9em;
            }
        }
    }

    .icon {
        display: block;
        width: 4%;
        max-width: 48px;
        margin: 2em auto 1em;

        @include normalize.mq(md) {
            width: 7%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .copyright {
        color: #777777;
        font-size: 0.9em;
        margin: 0 0 2em 0;
        padding: 0;
        text-align: center;
    }

    @include normalize.mq(md) {
        padding: 3em 0 1em 0;
    }
}
