@charset "UTF-8";

@import "./normalize.scss";

.mt_10 {
    margin-top: 10px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_50 {
    margin-top: 50px;
}

.mt_60 {
    margin-top: 60px;
}

.mt_70 {
    margin-top: 70px;
}

.mt_80 {
    margin-top: 80px;
}

.mt_90 {
    margin-top: 90px;
}

.mt_100 {
    margin-top: 100px;
}

.mt_110 {
    margin-top: 110px;
}

.mt_120 {
    margin-top: 120px;
}

.align-center {
    text-align: center;
}

.video {
    background: rgba(255, 255, 255, 0.075);
    border-radius: 4px;
    margin: 0 0 2em 0;
    overflow: hidden;
    position: relative;

    img {
        -moz-transition: -moz-transform 0.2s ease-in-out;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -ms-transition: -ms-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        img {
            -moz-transform: scale(1.075);
            -webkit-transform: scale(1.075);
            -ms-transform: scale(1.075);
            transform: scale(1.075);
        }

        .image .arrow .icon_area {
            color: #ffffff;
        }
    }

    .image {
        margin: 0;
        position: relative;
        overflow: hidden;

        .arrow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            .icon_area {
                -moz-transition: color 1s ease-in-out;
                -webkit-transition: color 1s ease-in-out;
                -ms-transition: color 1s ease-in-out;
                transition: color 1s ease-in-out;
                display: inline-block;
                vertical-align: middle;
                color: rgba(255, 255, 255, 0.5);
                z-index: 10002;
            }
        }
    }

    .caption {
        color: #bbbbbb;
        padding: 1.5em;
        font-size: 1.25em;
        font-weight: 300;
        margin: 0;
        line-height: 1.5em;
    }

    a:hover {
        .caption {
            background: #777777;
        }
    }

    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;

        span {
            display: none;
        }
    }

    .caption {
        padding: 1.5em;
        font-size: 1.25em;
        font-weight: 300;
        margin: 0;

        @include mq(md) {
            font-size: 1em;
        }
    }
}

.image {
    border: 0;
    display: inline-block;
    position: relative;

    img {
        display: block;
    }

    &.fit {
        display: block;
        width: 100%;

        img {
            width: 100%;
        }

        video {
            width: 100%;
            height: auto;
        }
    }
}

.portrait {
    .circle-gradient-border {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: 20px auto 50px;
    }
}

.icon_area {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image_filter:before {
    transition: opacity 3s ease;
    transition-delay: 1.25s;
    content: '';
    display: block;
    background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
