@charset "UTF-8";

@import "./normalize.scss";

$max_margin_values: 16;
$spacing_values: 10;

/* m*_10 ～ m*_#{$max_margin_values * $spacing_values}までのクラス名と、それに準じたmarginのpxを自動生成 */
@for $i from 1 through $max_margin_values {
    $value: $i * $spacing_values;
    .mt_#{$value} {
        margin-top: #{$value}px!important;
    }

    .mb_#{$value} {
        margin-bottom: #{$value}px!important;
    }
}

#overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;

    &.overlay_fadein {
        background: #000;
        opacity: 1;
        z-index: 9000;
        pointer-events: none; /* クリックを透過させる場合 */
    }

    &.overlay_fadeout {
        background: #000;
        opacity: 0;
        z-index: 9000;
        pointer-events: none; /* クリックを透過させる場合 */
    }

    &.opa_3 {
        transition: opacity 3.0s ease;
    }

    &.opa_5 {
        transition: opacity 5.0s ease;
    }
}

/* スクロール表示対象ブロック（最初は要素を非表示にする） */
.scroll_target {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform; /* パフォーマンスの最適化 */
}

/* 表示位置までスクロールされたらブロックを表示する */
.is_visible {
    opacity: 1;
    transform: translateY(0);
}

.align-center {
    text-align: center;
}

.video {
    background: rgba(255, 255, 255, 0.075);
    border-radius: 4px;
    margin: 0 0 2em 0;
    overflow: hidden;
    position: relative;

    img {
        -moz-transition: -moz-transform 0.2s ease-in-out;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -ms-transition: -ms-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        img {
            -moz-transform: scale(1.075);
            -webkit-transform: scale(1.075);
            -ms-transform: scale(1.075);
            transform: scale(1.075);
        }

        .image .arrow .icon_area {
            color: #ffffff;
        }
    }

    .image {
        margin: 0;
        position: relative;
        overflow: hidden;

        .arrow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            .icon_area {
                -moz-transition: color 1s ease-in-out;
                -webkit-transition: color 1s ease-in-out;
                -ms-transition: color 1s ease-in-out;
                transition: color 1s ease-in-out;
                display: inline-block;
                vertical-align: middle;
                color: rgba(255, 255, 255, 0.5);
                z-index: 10002;
            }
        }
    }

    .caption {
        color: #bbbbbb;
        padding: 1.5em;
        font-size: 1.25em;
        font-weight: 300;
        margin: 0;
        line-height: 1.5em;
    }

    a:hover {
        .caption {
            background: #777777;
        }
    }

    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;

        span {
            display: none;
        }
    }

    .caption {
        padding: 1.5em;
        font-size: 1.25em;
        font-weight: 300;
        margin: 0;

        @include mq(md) {
            font-size: 1em;
        }
    }
}

.image {
    border: 0;
    display: inline-block;
    position: relative;

    img {
        display: block;
    }

    &.fit {
        display: block;
        width: 100%;

        img {
            width: 100%;
        }

        video {
            width: 100%;
            height: auto;
        }
    }
}

.portrait {
    .circle-gradient-border {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: 20px auto 50px;
    }
}

.icon_area {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image_filter:before {
    transition: opacity 3s ease;
    transition-delay: 1.25s;
    content: '';
    display: block;
    background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
