@charset "UTF-8";

@import "./normalize.scss";

.wrapper {
    padding: 6em 0 4em 0;
    position: relative;

    .inner {
        margin: 0 auto;
        width: 80em;
        position: relative;
        z-index: 99;
    }

    header {
        margin-bottom: 4em;

        @include mq(md) {
            margin-bottom: 2em;
        }
    }

    &.style01 {
        p {
            color: #bbbbbb;
        }
    }

    > .inner {
        @include mq(lg) {
            width: 65em;
        }

        @include mq(rg) {
            width: 90%;
        }
    }

    @include mq(md) {
        padding: 3em 0 1em 0;
    }
}

/* 最初は要素を非表示にする */
.scroll_target {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform; /* パフォーマンス最適化 */
}

/* スクロールで表示された時の状態 */
.is_visible {
    opacity: 1;
    transform: translateY(0);
}
